<template>
  <div>
    <h3 class="title">{{ title }}</h3>
    <button v-if="gameOver" class="button is-danger" @click="resetGame">
      Reset
    </button>
    <button v-else class="button is-primary" @click="roll" :disabled="!canRoll">
      Roll
    </button>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import helpers from "@/mixins/helpers";
export default {
  mixins: [helpers],
  computed: {
    ...mapState(["rollCount"]),
    ...mapGetters(["canRoll", "gameOver", "sortedDices", "aggregateDices"]),
    title() {
      if (this.gameOver) return "Let's";

      let title = "Roll";
      if (this.rollCount) title += ` #${this.rollCount}`;
      return title;
    },
  },
  methods: {
    ...mapMutations(["resetRoll"]), // "rollDices"]),
    ...mapActions(["roll", "resetGame"]),
  },
};
</script>