<template>
  <div
    @click="toggleDice(dice.id)"
    :class="{ 'is-clickable': diceClickable, 'has-text-grey': !diceClickable }"
  >
    <span
      class="icon is-large is-block"
      :class="{ 'has-text-danger': dice.locked }"
    >
      <i class="fas fa-3x" :class="faDice(dice.eyes)"></i>
    </span>
    <span v-if="dice.locked" class="icon is-large is-block has-text-danger">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</template>

<script>
import helpers from "@/mixins/helpers";
import { mapMutations } from "vuex";
export default {
  mixins: [helpers],
  props: ["dice"],
  computed: {
    diceClickable() {
      return this.$store.state.rollCount != 0;
    },
  },
  methods: {
    ...mapMutations(["toggleDice"]),
  },
};
</script>

<style>
span.is-block {
  margin: auto;
}
</style>