<template>
  <section class="cup columns is-mobile is-centered">
    <DiceControls class="column is-narrow" />
    <Dice
      class="column is-narrow"
      v-for="dice in sortedDices"
      :key="dice.id"
      :dice="dice"
    />
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import DiceControls from "./DiceControls";
import Dice from "./Dice";
export default {
  components: {
    DiceControls,
    Dice,
  },
  computed: {
    ...mapGetters(["sortedDices"]),
  },
};
</script>

<style>
section.cup {
  text-align: center;
}
</style>
