<template>
  <button class="button is-small py-0" @click="lockScore(score)">
    <span class="icon"><i class="fas fa-pen"></i></span>
  </button>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["score"],
  computed: {
    ...mapGetters(["canScore"]),
  },
  methods: {
    ...mapActions(["lockScore"]),
  },
};
</script>
