<template>
  <tr :class="rowClass">
    <td>{{ score.title }}</td>
    <td class="has-text-right">
      <span v-for="icon in example" class="icon" :key="icon.id">
        <i class="fas" :class="icon.className"></i>
      </span>
    </td>
    <td>{{ score.description }}</td>
    <td v-if="score.locked">{{ score.points }}</td>
    <td v-else>{{ possiblePoints }}</td>
    <td class="has-text-centered">
      <span v-if="score.locked" class="icon">
        <i class="fas fa-lock"></i>
      </span>
      <ScoreButton
        v-else-if="canScore"
        :score="score"
        :class="{ 'is-primary': possiblePoints }"
      />
    </td>
  </tr>
</template>

<script>
import { helpers } from "@/mixins/helpers.js";
import ScoreButton from "@/components/ScoreButton";

import { mapGetters } from "vuex";
export default {
  mixins: [helpers],
  props: ["score"],
  components: {
    ScoreButton,
  },
  computed: {
    ...mapGetters([
      "canScore",
      "numericPoints",
      "aggregatePoints",
      "fullHousePoints",
      "streetPoints",
    ]),
    rowClass() {
      let rc = [];
      if (this.score.locked) {
        rc.push("has-text-grey");
      }
      return rc.join(" ");
    },
    possiblePoints() {
      let pts = "-";
      const score = this.score;
      switch (score.type) {
        case "numeric":
          pts = this.numericPoints(score.title);
          break;
        case "aggregate":
          pts = this.aggregatePoints(score.minDuplicates, score.fixedPoints);
          break;
        case "fullHouse":
          pts = this.fullHousePoints(score.fixedPoints);
          break;
        case "street":
          pts = this.streetPoints(score.minConsecutive, score.fixedPoints);
          break;
      }
      return pts;
    },
    example() {
      let icons = [];
      const score = this.score;
      if (score.example) {
        [...new String(score.example).toString()].forEach(function (char, i) {
          let iconClass;
          switch (char) {
            case "+":
              iconClass = "fa-plus";
              break;
            default:
              iconClass = "fa-dice-" + helpers.numberToText(char);
              break;
          }
          icons.push({ id: `${score.title}-${i}`, className: iconClass });
        });
      }
      return icons;
    },
  },
};
</script>

<style scoped>
td:last-child {
  padding: 0.1rem 0.5rem !important;
}
</style>