<template>
  <table class="table is-bordered is-narrow is-fullwidth">
    <caption>
      Yahtzee Scoreblock
    </caption>
    <thead>
      <tr>
        <th>Upper section</th>
        <th class="has-text-right">Example</th>
        <th>How to score</th>
        <th>Score</th>
        <th>Enter score</th>
      </tr>
    </thead>
    <tbody>
      <ScoreRow
        v-for="score in upperScores"
        :key="score.title"
        :score="score"
      />
      <tr>
        <td>Total score</td>
        <td colspan="2"></td>
        <td>{{ numericTotal }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Bonus</td>
        <td colspan="2">If total score is 63 or over</td>
        <td>{{ bonus }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td colspan="2">Of Upper Section</td>
        <td>{{ upperTotal }}</td>
        <td></td>
      </tr>
      <tr>
        <th>Lower Section</th>
        <th colspan="4"></th>
      </tr>
      <ScoreRow
        v-for="score in bottomScores"
        :key="score.title"
        :score="score"
      />
      <tr>
        <td>Total</td>
        <td colspan="2">Of Lower Section</td>
        <td>{{ bottomTotal }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td colspan="2">Of Upper Section</td>
        <td>{{ upperTotal }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Grand Total</td>
        <td colspan="2"></td>
        <td>{{ grandTotal }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapGetters } from "vuex";
import ScoreRow from "./ScoreRow";
export default {
  components: {
    ScoreRow,
  },
  computed: {
    ...mapGetters([
      "upperScores",
      "numericTotal",
      "bonus",
      "upperTotal",
      "bottomScores",
      "bottomTotal",
      "grandTotal",
    ]),
  },
};
</script>