<template>
  <div id="app">
    <div class="container is-max-desktop mt-2">
      <ScoreBoard />
      <DiceCup />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Vuex from "vuex";

import "bulma/css/bulma.css";
import "@fortawesome/fontawesome-free/css/all.css";

import store from "@/store";

import DiceCup from "@/components/DiceCup";
import ScoreBoard from "@/components/ScoreBoard";

Vue.use(Vuex);

export default {
  name: "App",
  store,
  components: {
    ScoreBoard,
    DiceCup,
  },
  mounted() {
    store.dispatch("setup");
  },
};
</script>